.swiper-container {
  background: #121f32;
  height: 50vh;
}

.swiper-container2 {
  background: #121f32;
  height: 50vh;
}

.slide-inner {
  padding:20px;
  color:#fff;
}

.swiper-scrollbar {
  background:none;
  position:absolute;
  right:3px;
  top:0;
  height:100%;
  width:5px;
}

.swiper-scrollbar2 {
  background:none;
  position:absolute;
  right:3px;
  top:0;
  height:100%;
  width:5px;
}

.swiper-scrollbar .swiper-scrollbar2 .swiper-scrollbar-drag {
  background:rgba(255,255,255,0.3);
}
