#lets_partenaires {
    clear:both;
    margin-top: 3em;
}

#lets_partenaires_hyb:after {
    clear: both;
}
#lets_partenaires_hyb:before, #lets_partenaires_hyb:after {
    content: "";
    display: table;
}
#lets_partenaires_hyb:before, #lets_partenaires_hyb:after {
    content: "";
    display: table;
}
#lets_partenaires_hyb {
    width: 90%;
    margin: auto;
    text-align: center;
}
#lets_partenaires_hyb .lets_first_row ,
#lets_partenaires_hyb .lets_second_row {
    clear: both;
}
#lets_partenaires_hyb .lets_second_row {
    padding-top: 10px;
}

#lets_partenaires_hyb .lets_first_row div {
    /*float: left;*/
    display:inline-block;
    width: 90px;
    margin-right: 4px;
    margin-left: 4px;
}
#lets_partenaires_hyb .lets_first_row div:first-child {
    margin-left: 0px;
}
#lets_partenaires_hyb .lets_first_row div:last-child {
    margin-right: 0px;
}
#lets_partenaires_hyb .lets_second_row div {
    float: left;
}

#lets_partenaires_hyb div.lets_text {
    float: right;
}
#lets_partenaires_hyb div.lets_text  p{
    float:left;
    font-family: sans-serif;
}
#lets_partenaires_hyb div.lets_text a{
}
#lets_partenaires_hyb a {
}

#lets_partenaires_hyb img {
}