<!DOCTYPE html>
<html>
<head>
    <title>Le journal des entreprises</title>
    <link rel="stylesheet" href="./css/stylesheet.css" type="text/css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css" />
</head>
<body>
    
    {% include "./intro.html" %}
    {% include "./dataviz1.html" %}
    {% include "./comparatif.html" %}
    {% include "./outro.html" %}
    
    <script type="text/javascript" src="./js/battle.js"></script>
    <script type="text/javascript" src="./js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="./js/bootstrap.js"></script>
</body>
</html>
