<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Le journal des entreprises</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/styleintro.css" />
    <link rel="stylesheet" href="css/dataviz1.css" type="text/css" />
    <link rel="stylesheet" href="css/salariesNum.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/styleoutro.css" />
    <link rel="stylesheet" type="text/css" href="css/stylematchfinal.css" />
    <link rel="stylesheet" type="text/css" href="css/styledataviz2.css" />
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

        {% include "./intro.html" %}
        {% include "./dataviz1.html" %} 
        {% include "./salariesNum.html" %}
        
        <div id="comparison" class="page">
            <iframe
            src="comparatif.html"
            width="100%"
            height="100%"
            scrolling="auto"
            frameborder="0" 
            id= "lol">
            </iframe>
            <div class="baspage col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
		  		<a id="nav1" rel="relativeanchor" href="#slidematchfinal">
        			<img class="img-circle img-responsive inline-block" src="images/nextSlide.png" alt="page suivante"></img>
        		</a>
        	</div>
        </div>
        {% include "./matchfinal.html" %}
        {% include "./outro.html" %}

    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="js/scroll.js"></script>
    <script type="text/javascript" src="js/highcharts-min.js"></script>
    <script type="text/javascript" src="js/dataviz1.js"></script>
    <script type="text/javascript" src="js/outro.js"></script>
    <script type="text/javascript" src="js/matchfinal.js"></script>
</body>
</html>
