/*Font spécial ajouté*/


@font-face
{
	font-family: 'Bellota';
	src: url('../fonts/Bellota-Bold.otf') format('truetype');
	src: url('../fonts/Bellota-BoldItalic.otf') format('truetype');
	src: url('../fonts/Bellota-Italic.otf') format('truetype');
	src: url('../fonts/Bellota-Light.otf') format('truetype');
	src: url('../fonts/Bellota-LightItalic.otf') format('truetype');
	src: url('../fonts/Bellota-Regular.otf') format('truetype');
	font-weight: normal;
}

@font-face
{
	font-family: 'Sofia';
	src: url('../fonts/SofiaProLight.otf') format('truetype');
	font-weight: normal;
}

/*Options de style de base*/

p{
	font-family: 'Sofia';
	padding: 0px;
	margin: 0px;
}


html
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

body
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

.main
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

img, object, embed, canvas, video, audio, picture {
       max-width: 100%;
       height: auto;
}

section
{
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.source
{
	position:absolute;
	width:15%;
	height:3%;
	right:0%;
	bottom:0%;
	font-family: 'Sofia';
	font-size:1em;
	color:white;
}

/*CSS concernant le premier slide*/
#slide1
{
	background: url('../img/index/background_index_1Bis.jpg') no-repeat center ;
	background-size: cover;
}

#slide1 #getDown
{
	position: absolute;
	top: 87.7%;
	left: 48.4%;
	width: 3.2%;
	height: 3.7%;
}
/*CSS concernant le deuxième slide*/
#slide2
{
	background: url('../img/index/index_2.jpg') no-repeat center ;
	background-size: cover;
}

#slide2 #text_choix
{
	padding: 0px;
	margin: 0px;
	font-family: 'Sofia';
	font-size: 200%;
	text-align: center;
	color: gray;
	position: absolute;
	top: 60%;
	left: 33.33%;
	width: 33.33%;
	height: 10%;
}

#div_bouton
{
	position: absolute;
	top: 70%;
	left: 35%;
	width: 30%;
	height: auto;
}

#div_bouton #bouton1 
{
	float: left;
	width: 30%;
	height: auto;
}

#div_bouton #bouton2 
{
	float: right;
	width: 30%;
	height: auto;
}

.nuage_index
{
	position: absolute;
	background-size: 100%;
}

/*CSS concernant le troisième slide ***Choix Sexe*** */

#slide3, #slide4, #slide5, #slide7, #slide9, #slide11, #slide13, #slide15
{
	background-color: #F7ECE6;
	background-size: cover;
}

#slide3 #slider
{
	width: 20%;
	height: 100%;
	position: absolute;
	top: 5%;
	left: 40%;
}

#slide3 p
{
	display: block;
	padding: 0px;
	margin: 0px;
	font-family: 'Sofia';
	font-size: 2.5em;
	color: gray;
	text-align: center;
}

.bouton_valider
{
	width: 60%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}
.bouton_valider:hover
{
	opacity: 0.5;
}

#slide3 #text_choix2
{
	margin-bottom: 10%;
}

/*CSS concernant le quatrième slide ***Tranche âge*** */
#slide4 #age_container
{
	width: 20%;
	height: 100%;
	position: absolute;
	top: 5%;
	left: 40%;
}


#age p
{
	font-family: 'Sofia';
	color: gray;
	text-align: center;
	font-weight: lighter;
	font-size: 2em;
	margin-bottom: 5%;
}

/*CSS concernant le 5ème slide ***Questions ETUDES*** */
#slide5
{
	width: 100%;
	height: 100%;
	background: url('../img/stats/question1/background.jpg') no-repeat center;
	background-size: cover;
}

.nuage
{
	position: absolute;
	width: 100%;
	background-size: 100%;
}

.bus
{
	position: absolute;
	width: 40%;
	top: 72.5%;
}

.container
{
	width: 75%;
	height: 100%;
	position: absolute;
	left: 12.5%;
}

.question
{
	text-align: center;
	color: gray;
	margin: 10% auto 5% auto;
}

.bouton_container
{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
}

.bouton_container img
{
	width: 40%;
}

.bouton_guy
{
	float: left;	
}

.bouton_guy:hover
{
	opacity: 0.5;
}

.bouton_josie
{
	float: right;
}

.bouton_josie:hover
{
	opacity: 0.5;
}

/*CSS concernant le cinquième slide ***Dataviz*** */
.datavizs
{
	width: 100%;
	height: 100%;
	background-color: #393535;
}

.conteneur
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.box_titre
{
	font-family: Sofia;
	color: white;
}

.div_stats
{
	padding: 0px;
	margin: 0px;
	width: 25%;
	height: 100%;
	float: left;
}

.s1
{
	width: 100%;
	height: 50%;
	background: url('../img/stats/dataviz/carré_orange_haut.png') no-repeat;
	background-size: 100% 100%;
	margin-bottom: 4%;
}

.s2
{
	width: 100%;
	height: 50%;
	background: url('../img/stats/dataviz/carré_orange_bas.png') no-repeat;
	background-size: 100% 100%;
	margin-top: 4%;
}

.selonvous, .s2 img/*selonvous = .s1 img*/
{
	display: block;
	float: left;
	width: 40%;
	margin: 10% auto auto 10%;
}

.phraseReponse
{
	width: 17.5%;
	position: absolute;
	top: 27.5%;
	left: 2.5%;
	text-align: left;
	font-family: 'Sofia';
	color: white;
}

.s1 p
{
	position: absolute;
	width: 20%;
	top: 10%;
	left: 14.5%;
	font-family: 'Sofia';
	font-weight: bolder;
	color: white;
}

.s2 p
{
	position: absolute;
	width: 20%;
	top: 60%;
	left: 14.5%;
	font-family: 'Sofia';
	font-weight: bolder;
	color: white;
}

.s1 span, .s2 span
{
	border-bottom: 4px dotted white;
}
.dataviz
{
	padding: 0px;
	margin: 0px;
	float: right;
	width: 75%;
	height: 100%;
}
.dataviz_text
{
	width: 75%;
	margin: 7.5% auto 2.5% auto;
}
.dataviz_text p
{
	text-align: center;
	color: white;
}

.dataviz_text b
{
	font-size: 1.5em;
}

.dataviz_graph
{
	width: 100%;
	height: 50%;

}

.box_slide6 {
	width:25%;
	height:100%;
	display:inline-block;

}


.graph_slide6
{
	text-align:center;
	height:35%;
	max-height:70%;
	margin-bottom:5%;
}

.graph_slide6bis
{
	text-align:center;
	height:35%;
	max-height:70%;
}
#sans_diplome
{
	
	width:100%;
	height:100%;
}

#bep_cap
{

	width:100%;
	height:100%;
}

#bac_techno
{

	width:100%;
	height:100%;
}

#bac_general
{
	width:100%;
	height:100%;
}

#cycle1
{

	width:100%;
	height:100%;
}

#cycle2
{

	width:100%;
	height:100%;
}

.dataviz_legend
{
	width: 100%;
	height: 20%;
}

#bouton_slide6
{
	width: 25%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#slide6_h
{
	width: 25%;
	float: right;
}

#slide6_f
{
	width: 25%;
	float: left;
}



/*CSS Concernant le 7ème slide ***Questions SALAIRE*** */
#slide7
{
	width: 100%;
	height: 100%;
	background: url('../img/stats/question2/background.jpg') no-repeat center;
	background-size: cover;
}

#slide7 #slider_container
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#slide7 #slider_1
{
	width: 100%;
}

#slide7 .bouton_valider
{
	width: 15%;
	margin-top: 2.5%;
}

.valeurs
{
	font-family: 'Sofia';
	color: gray;
	font-size: xx-large;
}

#slide7 #min
{
	float: left;
}

#slide7 #max
{
	float: right;
}

#slide7 #current_value
{
	width: 5%;
	margin-left: 45%;
	margin-right: auto;
	font-weight: bolder;
	font-size: 3em;
	color: #E8687A;
}

.tram
{
	position: absolute;
	width: 100%;
	height: auto;
	top: 59%;
}

/*CSS Concernant le 8ème slide  */

#non_qualif
{
	
	width:100%;
	height:100%;
}

#qualif
{

	width:100%;
	height:100%;
}

#employes
{

	width:100%;
	height:100%;
}

#prof_inter
{
	width:100%;
	height:100%;
}

#cadres
{

	width:100%;
	height:100%;
}

#moyenne
{

	width:100%;
	height:100%;
}

#bouton_slide8
{
	width: 25%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#slide8_h
{
	float: right;
	width: 25%;
}

#slide8_f
{
	float: left;
	width: 25%;
}

/*CSS Concernant le 9ème slide ***Questions TAUX ACTIVITE*** */
#slide9
{
	width: 100%;
	height: 100%;
	background: url('../img/stats/question3/poleemploi.jpg') no-repeat center;
	background-size: cover;
}

/*CSS Concernant le 10ème slide */
#graph_slide10
{
	width:100%;
	height:60%;
	margin-left: auto;
	margin-right: auto;
}

#dataviz_graph10
{
	margin-top: 10%;
	text-align:center;
}


/*CSS Concernant le 11ème slide ***Questions TEMPS PARTIEL*** */
#slide11
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: url('../img/stats/question4/carrousel.jpg') no-repeat center;
	background-size: cover;
}

/*CSS Concernant le 12ème slide  */

#dataviz_graph12
{
	width: 75%;
	height: 80%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

#box12
{
	width:40%;
	text-align:center;
	float: left;
}

#box12bis
{
	width:40%;
	text-align:center;
	float: right;
}

.compteur
{
	width: 75%;
	height: 70%;
	margin-left: auto;
	margin-right: auto;		
}

.pourcent
{
	height: 15%;
	font-family: 'Sofia';
	margin-left: auto;
	margin-right: auto;	
}


/*CSS Concernant le 13ème slide ***Questions VIE SOCIALE*** */
#slide13
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: url('../img/stats/question5/royale.jpg') no-repeat center;
	background-size: cover;
}

/*CSS Concernant le 14ème slide ***Questions ASSOCIATIONS*** */

#dataviz_graph14
{
	width:100%;
	text-align: center;
}

.box14
{
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 12%;
	height: 75%;
	display: inline-block;
}
.box14bis
{
	width: 100%;
	height: 25%;
	display: inline-block;
}

.box_titreBis
{
	display: inline-block;
	margin-left: 2.5%;
	margin-right: 2.5%;
	vertical-align: middle;
	width: 12%;
}

#bouton_slide14
{
	text-align:center;
	margin-top:5%;
}

#slide14_h
{
	width:5%;
	height:5%;
}

#slide14_f
{
	width:5%;
	height:5%;
	margin-right:8%;
}


/*CSS Concernant le 13ème slide ***Questions ASSOCIATIONS*** */
#slide15
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: url('../img/stats/question6/assoc.jpg') no-repeat center;
	background-size: cover;
}

/*CSS Slide 16 ***dataviz associations*** */

.box16
{
	display: inline-block;
	width: 24.5%;
	text-align: center;
}

.box16 .compteur
{
	width: 80%;	
}

.box16 .pourcent
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.bouton_sexe
{
	width: 20%;
	margin: 5% auto 0 auto;
}


.bouton_f
{
	width:25%;
	height:25%;
	float: left;
}
.bouton_h
{
	width:25%;
	height:25%;
	float: right;
}




/*CSS lien retour accueil*/
#retour_accueil
{
	width: 3%;
	height: 3%;
	position: fixed;
	top: 3%;
	right: 3%;
}

.enSavoirPlus
{
	position: absolute;
	left: 60%;
	width: 3%;
	height: auto;
	margin-top: 1%;
}
/*CSS concernant le slide "crédits"*/
#credits
{
	width: 100%;
	height: 100%;
	background: url('../img/credits/credits_1.jpg') no-repeat center;
	background-size: cover;
}

#creditsBis
{
	width: 100%;
	height: 100%;
	background: url('../img/credits/credits2_bis.jpg') no-repeat center ;
	background-size: cover;
}

.logo_container
{
	position: absolute;
	width: 50%;
	height: 15%;
	top: 30%;
	left: 25%;
}

.logos
{
	position: absolute;
	width: 20%;
	top: 30%;
	height: 100%;
}

.logo_container_bis
{
	position: absolute;
	right: 3%;
	top: 5%;
	width: 15%;
	height: 15%;

}

.logosBis
{
	position: absolute;
	width: 25%;
	height: 100%;
}

#nantesfr
{
	background: url('../img/credits/NANTESFR.png') no-repeat center;
	background-size: contain;
	left: 5%;
}

#AGR
{
	background: url('../img/credits/AGR.png') no-repeat center;
	background-size: contain;
	left: 30%;
}

#Polytech
{
	background: url('../img/credits/POLYTECH.png') no-repeat center;
	background-size: contain;
	left: 55%;
}

#SciencesCom
{
	background: url('../img/credits/logo-sciencecom.png') no-repeat center;
	background-size: contain;
	left: 80%;
}

#facebook
{
	background: url('../img/credits/facebook.png') no-repeat center;
	background-size: contain;
	left: 0;
}

#twitter
{
	background: url('../img/credits/twitter.png') no-repeat center;
	background-size: contain;
	left: 30%;
}

#behance
{
	background:  url('../img/credits/behance.png') no-repeat center;
	background-size: contain;
	left: 60%;
}