#containerPage2 {
  height: 100%;
}
.boutonPage2:hover circle, .boutonPage2:hover g g path, .boutonPage2.selected circle, .boutonPage2.selected g g path  {
	stroke: #FC5965;
}
.boutonPage2:hover {
	cursor: pointer;
}
#fondEssence {
	content: "";
	position: absolute;
	top: 0px;
	left: 20px;
	width: 150px;
	height: 100%;
	background-color: #A5D7CE;
	z-index: -1;
}
#listetransportsPage2{
	display:inline;
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	left: 0;
}
#dataPage2Un {
	font-family: fontPourcentageChiffre;
    color : #E95260;
}
#dataPage2Transport {
  	font-family: fontTitreTexte;
    color : #14A589;
}

#dataPage2Consommation{
	font-family: fontTitreTexte;
	color : #E95260;
}

#conversionPage2Un{
	font-family: fontPourcentageChiffre;
    color : #E95260;
}
#conversionPage2Transport{
	font-family: fontTitreTexte;
    color : #14A589;
}
#conversionPage2Consommation{
	font-family: fontTitreTexte;
	color : #E95260;
}