#persoDiv{
    text-align:center;
    margin-top: -8%;
}

#titre1{
    text-align:center;
}

#titre2{
    text-align:center;
    margin-bottom: 3%;
}

#soustitre{
    text-align:center;
    margin-bottom: 15%;
}

#flecheDiv{
    text-align:center;
    margin-bottom: -17%;
}


