.dataVizbarTextEtablissement{
  color:#FFFFFF;
 /* margin-top:10px;
  width:280px;
  height:50px;*/
}

.dataVizbarTextNomEtablissement{
  color:#FFFFFF;
  margin-left:20px;
  margin-top:1px;
  width:300px;
  height:50px;
}

.dataVizBarEtablissementSyle{
 /* margin-top:10px;*/
  margin-left:20px;
  width:0px;
  height:20px;
  /*float: right;*/
  background-color:#f7a21c;
}
/*
#dataVizbarEtablissement1{
  margin-top:20px;
  margin-left:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement2{
  margin-top:20px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement3{
  margin-top:20px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement4{
  margin-top:20px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement5{
  margin-top:20px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement6{
  margin-top:20px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement7{
  margin-top:20px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement8{
  margin-top:20px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement9{
  margin-top:20px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement10{
    margin-left:20px;
  margin-top:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement11{
    margin-left:20px;
  margin-top:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement12{
    margin-left:20px;
  margin-top:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement13{
    margin-left:20px;
  margin-top:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
#dataVizbarEtablissement14{
    margin-left:20px;
  margin-top:20px;
  width:0px;
  height:20px;
  background-color:#f7a21c;
}
/*
#dataVizbarTextEtablissement1{
  margin-top:20px;
  width:150px;
  height:50px;
}

#dataVizbarTextEtablissement2{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextEtablissement3{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextEtablissement4{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextEtablissement5{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextEtablissement6{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextEtablissement7{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextEtablissement8{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextEtablissement9{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextEtablissement10{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextEtablissement11{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextEtablissement12{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextEtablissement13{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextEtablissement14{
  margin-top:20px;
  width:150px;
  height:50px;
}*/
