/* -------------------------------- 

Custom CSS

-------------------------------- */

/*** ORGANISATION DU CSS ***/
/***

- Responsive Grid System (système de grille responsive)
- Polices de caractères
- Style général pour les slides
- CSS pour les lignes entre les dots de la navbar des slides
- Navbar des villes
- CSS pour chaque slide une à une
- Style de la progression bar en bas de la page
- CSS de base du système de slides

***/

/*********** RESPONSIVE GRID SYSTEM **************/


/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

/*@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}*/

/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
	width: 91.53%;
}

.span_10_of_12 {
	width: 83.06%;
}

.span_9_of_12 {
	width: 74.6%;
}

.span_8_of_12 {
	width: 66.13%;
}

.span_7_of_12 {
	width: 57.66%; 
}

.span_6_of_12 {
	width: 49.2%; 
}

.span_5_of_12 {
	width: 40.73%; 
}

.span_4_of_12 {
	width: 32.26%; 
}

.span_3_of_12 {
	width: 23.8%;
}

.span_2_of_12 {
	width: 15.33%; 
}

.span_1_of_12 {
	width: 6.86%; 
}

.span_demi_of_12 {
  width: 3%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_12_of_12 {
		width: 100%; 
	}
	.span_11_of_12 {
		width: 100%; 
	}
	.span_10_of_12 {
		width: 100%; 
	}
	.span_9_of_12 {
		width: 100%; 
	}
	.span_8_of_12 {
		width: 100%; 
	}
	.span_7_of_12 {
		width: 100%; 
	}
	.span_6_of_12 {
		width: 100%; 
	}
	.span_5_of_12 {
		width: 100%; 
	}
	.span_4_of_12 {
		width: 100%; 
	}
	.span_3_of_12 {
		width: 100%; 
	}
	.span_2_of_12 {
		width: 100%; 
	}
	.span_1_of_12 {
		width: 100%; 
	}
	.span_demi_of_12 {
    width: 100%;
  }
  .maincontent{
	  width: 90%;
  }
}

.maincontent{
	clear: both;
	width: 60%; /* 1000px / 1250px */
	font-size: 0.8125em; /* 13 / 16 */
	max-width: 92.3em; /* 1200px / 13 */
	margin: 0 auto;
	padding: 1em 0px;
	color: #333;
	line-height: 1.5em;
	position: relative;
}

/*********** POLICES ***************/

@font-face {
  font-family: "HelveticaNeue-Thin"; 
  src: url('../fonts/HelveticaNeue-Thin.otf');
}

@font-face {
  font-family: "HelveticaLTStd-Bold"; 
  src: url('../fonts/HelveticaLTStd-Bold.otf');
}

@font-face {
  font-family: "HelveticaLTStd-BoldCond"; 
  src: url('../fonts/HelveticaLTStd-BoldCond.otf');
}

@font-face {
  font-family: "HelveticaLTStd-BoldObl"; 
  src: url('../fonts/HelveticaLTStd-BoldObl.otf');
}

@font-face {
  font-family: "HelveticaLTStd-Roman"; 
  src: url('../fonts/HelveticaLTStd-Roman.otf');
}

/*********** STYLE DES SLIDES ***********/

section {
  background-image: url("../img/background.png") !important;
  background-color: #F8FFFE;
  background-attachment:fixed;
}

section p {
  font-family: HelveticaLTStd-Roman;
  text-align: justify;
  color: #001B02 !important;
  opacity: 0.5;
  font-size: 16px;
  margin-bottom: 10px;
}

p.highlight-title {
  font-family: HelveticaLTStd-Bold;
  color: #c75f80 !important;
  font-weight: bold;
  opacity: 1;
}

p.source {
  color: #b11b4a !important;
  font-family: HelveticaLTStd-BoldObl;
  font-size: 12px;
  margin-top: 10px;
}

p.description {
  font-family: HelveticaLTStd-BoldObl;
  font-size: 13px;
}

.clear {
  clear: both;
}

/* Pour enlever les pointillés au clic */
a:focus {
  outline:0;
}

/*********** LIGNE POUR NAVBAR DES SLIDES ***********/

/* Personnalisation de la navbar à droite */
.no-touch .line-dots {
  z-index: -1;
	background-color: #cac4aa; 
	opacity: 0.5;
	height: 1px; 
	transform: rotate(90deg); 
	width: 55px; 
	margin-left: 205px; 
	margin-right: -15px;
	margin-bottom: 15px;
}

.touch .line-dotes {
  display: none;
}

/********* NAVBAR DES VILLES ********/

/* Choix des villes */

.vertical-country-choice {
  width: 150px;
  height: 330px;
  position: fixed;
  left: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  overflow: hidden;
  z-index: 4;
}

ul#country-choice{
  position: relative;
  width: 150px;
  height: 295px;
  overflow: auto;
  margin: 0px;
  padding: 0px;
  list-style: none outside none;

}

#country-choice li{
  position: relative;
  padding: 16px;
  font-size: 15px;
  z-index: 2;
  border-left: 1px solid #cfccaf;
  border-right: 1px solid #cfccaf;
  line-height: 10px;
  text-transform: uppercase;
  font-family: HelveticaLTStd-BoldCond;
}

#country-choice a {
  color: #001B02;
  border-bottom: 1px solid #001B02;
  line-height: 18px;
  opacity: 0.5;
  transition: opacity .3s ease-in-out;
}

#country-choice a:hover {
  font-weight: bold;
  opacity: 0.7;
}

#country-choice a.country-selected {
  border-bottom: 1px solid #B21B4A;
  opacity: 1;
}

/**** Dots ****/
#vertical-country-dots {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  width: 100%;
  height: 20px;
}

#vertical-country-dots li {
  float: left;
  width: 20%;
  height: 100%;
}

#vertical-country-dots a {
  display: block;
  text-align: center;
  padding: 4px;
  background-image: url("../svg/nav_off.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 100%;
}

#vertical-country-dots a.dot-selected, #vertical-country-dots a:hover {
  background-image: url("../svg/nav_on.svg");
}

/******* MAP EXPRESS *******/

#carte, #graph22, #graph21 {
  width: 100%;
  height: 100%;
}

#map {
  position: absolute;
  top: -100px;
  width: 100%;
  margin-left: 35%;
}

/**** DATAVIZ 1 - COURBES ****/

#curves_text {
  margin-top: 10px;
}

/**** DATAVIZ 2 - AU DELA DES FRONTIERES ****/

#au_dela_des_frontieres {
  padding-top: 5%;
}

.text_graph22 {
  display: none;
}

#graph2_production {
  position: absolute;
  bottom: -150px;
  width: 100%;
}

#hint_frontieres {
  margin-left: 3%;
}

.rect_graph22 {
  cursor: pointer;
}

/**** DATAVIZ 3 - A LA LOUPE ****/

#a_la_loupe {
  display: block !important;
  margin: auto;
  margin-left : 0px;
  margin-right: 0px;
}

.nomEnergie #legende_loupe {
  display: block !important;
  margin: auto;
}

.maincontent_expand {
  clear: both;
	width: 90%; /* 1000px / 1250px */
	font-size: 0.8125em; /* 13 / 16 */
	max-width: 92.3em; /* 1200px / 13 */
	margin: 0 auto;
	padding: 1em 0px;
	line-height: 1.5em;
	position: relative;
}

.texte_graph3 {
  display: block !important;
  margin: auto;
}

#little-country-choice{
  font-family: "HelveticaLTStd-BoldCond";
}

#little-country-choice > li > a {
  text-decoration: none;
  position:relative;
  font-size :20px;
}

#little-country-choice > li {
 display: inline;
 margin-right: 10px;
}

#little-country-choice > li > a:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:0;
     bottom:0px;
    border-bottom: 2px solid #FFB84D;  
    font-size: 25px;
}
#little-country-choice .country-selected{
  border-bottom: 2px solid #F117B4;
}

#graph3_top {
  display: inline-block;
  position: relative;
  margin: auto;
 margin-right: 19%;
}

#container_graph3{
  display: inline-block;
  width: 100%; 
  text-align:center;
}

#renouvelable_graph3{
  margin-top : -120px;
  margin-right: 55px;
}
.nomEnergie{
  margin-top :15px;
}

/**** DATAVIZ 4 - FUTUR ****/

#graph4 {
  width: 80%;
}

.element_legende {				
	text-align: center;
	font-family: HelveticaNeue-Thin;
}

.element_legende p {
  text-align: center !important;
  position: static !important;
  transform: none !important;
  font-weight: bold;
  font-family: HelveticaNeue-Thin !important;
}

.element_legende img {
  max-width: 60px;
}

.energie_graph4 {
  font-size: 15px !important;
}

.graph4_value {
	font-size: 25px !important;
}

.container_radar {
  	background-repeat: no-repeat;
  	display: inline-block;
  	background-position: center bottom;
}

#logo_legende_graph4 {
  margin-top: -18%;
}

#container_graph41 {
  background-image: url('../svg/graph4/radar_allemagne.svg'); 
}

#container_graph42 {
  background-image: url('../svg/graph4/radar_france.svg'); 
}

#container_graph43 {
  background-image: url('../svg/graph4/radar_ru.svg'); 
}

#graph4 .highcharts-axis, #graph4 .highcharts-grid {
  display: none;
}

/*********** CREDITS *************/

#credits .centered p{
  text-align: center !important;
}

#banniere-credits {
  height: 100px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#banniere-credits .col img {
  max-width: 90%;
  max-height: 90%;
  vertical-align: middle;
}

#banniere-credits .col {
  height: 90px;
  line-height: 90px;
}

#horizontal-line-credits {
  width: 100%;
}

.credits-circle {
  color: #b11b4a;
  opacity: 1;
}

#container_credits {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}

/* -------------------------------- 

Progression bar

-------------------------------- */


.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}

/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: HelveticaNeue-Thin, sans-serif;
  color: #3e3947;
  background-color: white;
  overflow-x: hidden;
}

body, html {
  height: 100%;
}

a {
  color: #3e3947;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-section {
  min-height: 100%;
  position: relative;
  padding: 2em 0;
}
.cd-section h1 {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .cd-section h1 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 85px;
  height: 50px;
  background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
  z-index: 4;
}

/* No Touch devices */
.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  line-height: 3;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  
}
.no-touch #cd-vertical-nav li {
  text-align: right;
}
.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 0.6;
}
.no-touch #cd-vertical-nav a.is-selected span {
  transform: scale(1);
}
.no-touch #cd-vertical-nav a.is-selected .cd-label {
  opacity: 0.6;
}
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-image: url("../svg/nav_on.svg");
  background-size: 100% 100%;
}
.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 25px;
  width: 25px;
  /*background-color: #d88683;*/
  background-image: url("../svg/nav_off.svg");
  background-size: 100% 100%;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.no-touch #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: #001B02;
  font-size: 14px;
  text-transform: uppercase;
  font-family: HelveticaLTStd-BoldCond;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  line-height: 2;
  text-decoration: underline;
  -moz-text-decoration-color: #b11b4a; /* Code for Firefox */
  text-decoration-color: #b11b4a;
}

/* Touch devices */
.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}
.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
  top: -9px;
}
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
  display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #d88683;
}
.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}