@import url(https://fonts.googleapis.com/css?family=Share+Tech);
body {
  background-color:#121f32;
}

.container {
  width: 400px;
  height: 200px;
  position: relative;
  margin: auto;
  font-family: 'Share Tech', sans-serif;
  color: #444;
}

#percent, #svg {
  width: 400px;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
}

#percent {
  line-height: 20px;
  height: 20px;
  width 100%;
  top: 60px;
  left: 100px;
  font-size: 43px;
  text-align: justify;
  color: #3da08d;
  opacity: 0.8
}

p, .btn {
  position: relative;
  left: 120px;
  width: 200px;
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  top: 30px;
}

.btn {
  text-align: center;
  background: #5fc2af;
  color: #fff;
  width: 120px;
  height: 37px;
  line-height: 37px;
  cursor: pointer;
}

input {
  left: 200px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #eee;
  width: 30px;
  font-family: helvetica;
  font-size: 24px;
  text-transform: capitalise;
  font-family: 'Share Tech', sans-serif;
  background: transparent;
  
}
