.dataVizbarText{
  color:#FFFFFF;
}

.dataVizbarTextSpe{
  color:#FFFFFF;
  margin-left:20px;
}

#dataVizbarEtabB1{
  margin-top:20px;
  margin-left:20px;
  width:0px;
  height:20px;
  background-color:#ed5c49;
}
#dataVizbarEtabB2{
  margin-top:20px;
  margin-left:20px;
  width:0px;
  height:20px;
  background-color:#f9a21c;
}
#dataVizbarEtabB3{
  margin-top:20px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}

#dataVizbarTextB1{
  margin-top:20px;
  width:150px;
  height:50px;
}

#dataVizbarTextB2{
  margin-top:20px;
  width:150px;
  height:50px;
}
#dataVizbarTextB3{
  margin-top:20px;
  width:150px;
  height:50px;
}
