@font-face {
font-family: 'Myriad Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Condensed'), url('../fonts/MYRIADPRO-COND.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Condensed Italic'), url('../fonts/MYRIADPRO-CONDIT.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue'), url('../fonts/BebasNeue.otf') format('otf');
}

/***************
 * Dataviz1 Panel *
 ***************/
 
 #dataviz1
{ 
 background-color: #213146;  
 text-align:center;
 color: white;   
 overflow-x : hidden;
}


.headD1
{
    font-family:'Myriad Pro Condensed', sans-serif;
    margin-top : 20px;
}


.headD1 h1
{
 color: #EBAC44;    
 font-size: 20pt;
}

.titleD1 h2
{
 margin-top:-10px;
 font-family:'Myriad Pro Condensed Italic', sans-serif;
 font-size: 16pt;
 text-align: left;
}

.selectionAnneeD1
{
 display:inline-block;
 float:right;
 font-family: Bebas Neue, sans-serif;
 color: #EBAC44;  
 font-size:19pt;
 width: 195px;
 margin-top: 22px;
 padding-right: 0px !important;
}

.selectionAnneeD1 .chiffreAnnee
{
    width:24px;
    height:35px;
    background-image: url('../images/backYear.png');
    background-size: 24px 35px;
    display: inline-block;
    margin-left: -5px;
}

.selectionAnneeD1 .plusmoins
{
 display: inline-block;
 font-size: 16pt;
 width: 26px;
 height: 32px;
 
 -o-transition: font-size 0.4s ease-out, font-size 0.4s ease-in;
 -ms-transition: font-size 0.4s ease-out, font-size 0.4s ease-in;
 -moz-transition: font-size 0.4s ease-out, font-size 0.4s ease-in;
 -webkit-transition: font-size 0.4s ease-out, font-size 0.4s ease-in;
 /* ...and now for the proper property */
 transition: font-size 0.4s ease-out,font-size 0.4s ease-in;
}

.selectionAnneeD1 .plusmoins:hover
{
  font-size: 20pt;
  cursor: pointer;
}

.selectionAnneeD1 .yearless
{
 margin-right: 5px;
}


.cliquezIciD1 p
{
 color: #F9F9FA;
 font-family: 'Myriad Pro Condensed', sans-serif;
 font-size: 15pt;
}

#graph {
 margin-top: 90px;
}