@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BEBAS___-webfont.woff') format('woff'),
    url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
    url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html, #comparison {
    background-color : #213146 ;
    height : 100% ;
}

.tab0 .row div.number, .tab1 .row div.number {
    height : 50px;
    font-size : 200%;
    width : 100%;
    text-align : center;
    margin : 0px;
    padding-top : 10px;
}

.tab0 div div.libelle, .tab1 div div.libelle{
    
    /*height : 200px;*/
    font-size: 60%;
    width: 100%;
    margin-top: 44px; /*44représente !!*/
    padding: 20px 0px 0px 0px;
    text-align: center;
    margin-left: 0px;
    height: 40%;
    font-size: 89%;
}

.tab0 .row div, .tab1 .row div {
    width : 47%;
    padding : 4px;
    margin : 1.2%;
    height: 149px;
    border-radius: 0px;
    background-color: rgb(80, 80, 81);
    border: medium none;
    color: white;
}

.bebas {
    font-family : bebasregular;
    font-size: 44px !important;
}

.tab0 .row, .tab1 .row {
    margin-left : 0px;
}

.tab0, .tab1 {
    padding : 0px;
}

.city {
    text-align : center;
}

#tabHeader {
    text-align : center;
    margin-bottom : 20px;
}

#accordionCriteria {
    padding : 2 0 0 0px;
    margin-top : 0px;
}

.panel-title {
    color :  #132539 !important;
}

.page-tabs {
    margin-top : -39px;
}

.panel-heading {
    padding : 5px;
}

.panel-body .criteria {
    padding: 2px;
}

.active {
    color : #CD8B3D !important;
    background-color : white !important;
}

label {
    background-color : #CD8B3D !important;
    color : white !important;
    border : none !important;
}


#tabHeader {
    font-family : bebasregular;
    color : #CD8B3D;
    font-size : 27px;
    
}

#city1, #city2 {
    background-image : url('../images/tab_big.png');
    background-repeat : no-repeat;
    background-position : center;
    padding: 16px 20px 40px;
    margin-top: -31px;
    color : white;
    text-transform: uppercase;
}

.baspage
{
 bottom: 20px;
 position:absolute;
 left: 50%;
}

#nav1 img
{
 width:25px;
}
h5 {
    margin-top: -14px;
    text-align: center;
    color : white;
}
