 #salariesNum
{ 
 background-color: #213146;  

 color: white;   
}

.insideS1
{
 height: 90%;
 text-align:center;
}

#affichS
{
 width: 100%;
 height: 80%;
}

#cadreS
{
 height: 85%;
 margin-left: 10%;
 border-style: solid;
 border-width: 2px;
 border-color: #E9AE28;
 margin: 0 auto;
}

#ylabelS
{
 position: absolute;
 width: 6%;
 color: #E9AE28;
 font-size: 9pt;
 padding-left: 1%;
}

.ylabelS1{
margin-top: 30%;
}

.ylabelS1 p{
 display: inline-block;
 width: 38%;
}

.ylabelS1 div{
 display: inline-block;
 height: 30px;
 width: 30px;
 border-style: solid;
 border-width: 1px;
 border-color: #E9AE28;
}

#cadreCo1
{
background-color:#09404F;
}
#cadreCo2
{
background-color:#0F5068;
}#cadreCo3
{
background-color:#206F8C;
}#cadreCo4
{
background-color:#5886A4;
}
#cadreCo5
{
background-color:#89B1D9;
}
#cadreCo6
{
background-color:#CBDADD;
}

#xlabelS{
 margin-top: 5px;
}
#xlabelS p
{
 display: inline-block;
 color: #E9AE28;
 font-size: 11pt;
 width: 10%;
 margin-left: 5px;
}
#xlabelS p:hover
{
 cursor: pointer;
}
.punch
{
 display: inline-block;
 height: 99%;
 width: 10%;
 background-image: url('../images/Sac-de-frappe-1.png');
 background-size: 95% 80%;
 background-repeat: no-repeat;
 margin-left: 5px;
 position:relative;
 text-align: left;
}
@media screen and (max-height: 680px) {
   .punch {
    background-size: 95% 95%;
   }
}

.punch p
{
 position: absolute;
 top: 55%;
 text-align: center;
 width: 100%;
 font-size: 20pt;
}
.punch p span
{
  font-size: 18pt;
  display: inline-block;
}

.cliquezIciD2 {
 margin-top : 45px;
 color: #F9F9FA;
 font-family: 'Myriad Pro Condensed', sans-serif;
 font-size: 15pt;
}

.titleD1 {
 text-align : left;
 float: left;
 display: inline-block;
}

@media screen and (max-width: 1230px) {
   .headD1 {
     margin-top: 0px;
   }
}

@media screen and (max-width: 1205px) {
   .punch p span {
     display: block;
     text-align: center
   }
}

#affichS
{
 margin-top:40px;
}

@media screen and (max-height: 700px) {
   #affichS {
    margin-top: 20px;
   }
   .cliquezIciD1 p
   {
    font-size: 12pt;
   }
}