 #salariesNum
{ 
 background-color: #213146;  
 text-align:center;
 color: white;   
}

.insideS1
{
 height: 90%;
}

#affichS
{
 width: 100%;
 height: 80%;
}

#cadreS
{
 width: 80%;
 height: 85%;
 margin-left: 10%;
 border-style: solid;
 border-width: 2px;
 border-color: #E9AE28;
}

#ylabelS
{
 position: absolute;
 width: 6%;
 color: #E9AE28;
 font-size: 9pt;
 padding-left: 1%;
}

.ylabelS1{
margin-top: 30%;
}

.ylabelS1 p{
 display: inline-block;
 width: 38%;
}

.ylabelS1 div{
 display: inline-block;
 height: 30px;
 width: 30px;
 border-style: solid;
 border-width: 1px;
 border-color: #E9AE28;
}

#cadreS
{
 padding-left: 13px;
}

#cadreCo1
{
background-color:#09404F;
}
#cadreCo2
{
background-color:#0F5068;
}#cadreCo3
{
background-color:#206F8C;
}#cadreCo4
{
background-color:#5886A4;
}
#cadreCo5
{
background-color:#89B1D9;
}
#cadreCo6
{
background-color:#CBDADD;
}

#xlabelS{
 padding-left: 4%;
 margin-top: 5px;
}
#xlabelS p
{
 display: inline-block;
 color: #E9AE28;
 font-size: 11pt;
 margin-right: 45px;
}

.punch
{
 display: inline-block;
 height: 99%;
 width: 10%;
 background-image: url('../images/Sac-de-frappe-1.png');
 background-repeat: no-repeat;
 margin-left: 5px;
}

.cliquezIciD2 {
 margin-top : 45px;
 color: #F9F9FA;
 font-family: 'Myriad Pro Condensed', sans-serif;
 font-size: 15pt;
}

.titleD1 {
 text-align : left;
}