/***************
 * Outro Panel *
 ***************/
 
 #slidematchfinal
 {
    position:relative;
    background-color : #BDDAD8;
 }

#podium {
 text-align: center;
 margin-top: 10px;
}

#podiumBoutons {
 margin-top: 10px;
 text-align: center;
}

.boutonPodium {
    line-height: 40px;
    color: white;
    background-color: rgb(31, 40, 59);
    text-transform: uppercase;
    height: 20%;
    font-family: "helvetica";
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}
    
#slidematchfinal h1 {
    font: bebasregular;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    color: white;
    width: 122px;
    margin-left: 4px;
    top: 18px;
}
#slidematchfinal h1 span{
 font-size: 12px;
}

.boutonPodium:hover {
    cursor: pointer;
}

#villesPodium {
    text-align: center;
    text-transform: uppercase;
    font-family: bebasregular;
    font-size: 15pt;
    width: 345px;
    margin: 0px auto;
}
.villePod
{
    position:absolute;
}
.firstTown
{
    margin: -30px auto;
    width: 345px;
}
.secondTown
{
    text-align: right;
    width: 300px;
    margin-left: -185px;
    margin-top: 10px;
}
.thirdTown
{
    margin-left: 225px;
    margin-top: 30px;
    text-align: left;
}

span {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}

@media screen and (max-width: 990px) {
    .row1 .boutonPodium {
        margin-right: 20px;
    }
}
