/***************
 * Intro Panel *
 ***************/
 .page
 {
     
    width: 100%;
    height: 900px;
 }


#slide1
 { 
    background-color: #223148;  
    background-attachment:fixed;
 }
 
#slide2
 {
    background-image: url(/images/Slide-2.png);     
    background-attachment:fixed;
 }
 
 .slide_inside {
	width: 980px;
	margin: 0 auto;
}

.bottomArrow{
    height:60px;
	opacity:1;
}

.bottomControl{
    width:145px;
    left:45%;
    bottom:0px;
	width:170px;
	cursor:pointer;
}

#nav1
{
     
}