/***************
 * Outro Panel *
 ***************/
 
#slideoutro
{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    background-color:#EAAC42;
}

#titleOutro {
    text-align : center;
}

@media screen and (max-width: 1200px) {
    .vestiaires {
        width: 100%;
    }
    #titleOutro {
        text-align: center;
    }
    #titleOutro img {
        width: 50%;
    }
    
}

#galeria
{
   width:auto;
}