.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:300px;
	background:#eee;
	height:20px;
	border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	margin-top:20px;
	left:20;
	font-weight:bold;
	font-size:13px;
	color:#000000;
}

/*.skillbar-title span {
	display:block;
  top:25;
	padding:0 20px;
	height:20px;
	line-height:35px;
}*/

.skillbar-bar {
	height:20px;
	width:10px;
	background:#6adcfa;
}

#skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:20px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}