.dataVizbarText{
  color:#FFFFFF;
}

.dataVizbarTextSpe{
  color:#FFFFFF;
  margin-left:20px;
}

#dataVizbarEtab1{
  margin-top:5px;
  margin-left:20px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab2{
  margin-top:5px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab3{
  margin-top:5px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab4{
  margin-top:5px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab5{
  margin-top:5px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab6{
  margin-top:5px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab7{
  margin-top:5px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab8{
  margin-top:5px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab9{
  margin-top:5px;
    margin-left:20px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab10{
    margin-left:20px;
  margin-top:5px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab11{
    margin-left:20px;
  margin-top:5px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab12{
    margin-left:20px;
  margin-top:5px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab13{
    margin-left:20px;
  margin-top:5px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}
#dataVizbarEtab14{
    margin-left:20px;
  margin-top:5px;
  width:0px;
  height:20px;
  background-color:#127eb6;
}

#dataVizbarText1{
  margin-top:5px;
  width:150px;
  height:50px;
}

#dataVizbarText2{
  margin-top:5px;
  width:150px;
  height:50px;
}
#dataVizbarText3{
  margin-top:5px;
  width:150px;
  height:50px;
}
#dataVizbarText4{
  margin-top:5px;
  width:150px;
  height:50px;
}
#dataVizbarText5{
  margin-top:5px;
  width:150px;
  height:50px;
}
#dataVizbarText6{
  margin-top:5px;
  width:150px;
  height:50px;
}
#dataVizbarText7{
  margin-top:5px;
  width:150px;
  height:50px;
}
#dataVizbarText8{
  margin-top:5px;
  width:150px;
  height:50px;
}
#dataVizbarText9{
  margin-top:5px;
  width:150px;
  height:50px;
}
#dataVizbarText10{
  margin-top:5px;
  width:150px;
  height:50px;
}
#dataVizbarText11{
  margin-top:5px;
  width:150px;
  height:50px;
}
#dataVizbarText12{
  margin-top:5px;
  width:150px;
  height:50px;
}
#dataVizbarText13{
  margin-top:5px;
  width:150px;
  height:50px;
}
#dataVizbarText14{
  margin-top:5px;
  width:150px;
  height:50px;
}